<div class="w3-content w3-container w3-padding-64" id="about">
    <div class="w3-col m4 w3-center w3-padding-large">
            <img src="/img/yo.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Yo" width="500" height="333">
        </div>
    <div class="w3-col m8 w3-center w3-padding-large">
            <h3 class="w3-center">BIO</h3>
        <p class="w3-center"><em>Bendito sea el inspector del navegador</em></p>
        <p>Hola a todos, soy Roberto García y en estos momentos tan duros (las 00:28 de un miercoles) he decidido describirme como una persona cansada, con los ojos caidos despues de un duro día de trabajo, pero satisfecho.</p>
        <p>Soy vegano, tengo 33 años, vivo en Alcalá de Henares desde hace dos años y tengo una hija preciosa a la que quiero con locura pero que, por maldita desgracia, vive lejos de mí.</p>
        <p>Profesionalmente, trato de ser un desarrollador fullstack, porque creo que a día de hoy hay que saber de "tó" y porque siempre tenemos que tratar de aprender lo máximo posible para desenvolvernos mejor por nosotros mismos, tratando de no depender de terceros.</p>
        <p>Y si... estaréis pensando que esto es una plantilla html y efectivamente, lo pongo bien claro en el pié de página. Es una plantilla. Os creíais que iba a tirarme aquí toda la noche sin dormir para hardcodear todo párrafo por párrafo? no amigos, eso ya no se lleva... hay que optimizar!!.</p>
        <p>Besitos :)</p>
    </div>
</div>


