<div class="bgimg-3 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
           <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
        </div>
      </div>
<div class="w3-content w3-container w3-padding-64" id="contact">
        <h3 class="w3-center">Y DONDE ESTOY YO? QUÉ ES TODO ESTO? SEÑORA DEJE DE ZARANDEARME!</h3>
        <p class="w3-center"><em>Escríbeme, no tengas miedo!</em></p>
      
        <div class="w3-row w3-padding-32 w3-section">
          <div class="w3-col m4 w3-container">
            <!-- Add Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d162757.7258273265!2d30.392608615485447!3d50.402170238431474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2sKiev%2C+Ucrania%2C+02000!5e0!3m2!1ses!2ses!4v1530138098191" width="300" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
              <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Alcalá de Henares, ES<br>
              <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Teléfono: +00 11234454<br>
              <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: rob.vicalvaro@gmail.com<br>
            </div>
            <p>Invítame a un café <i class="fa fa-coffee"></i>, o dejame un recado:</p>
            <form action="" target="_blank">
              <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                <div class="w3-half">
                  <input class="w3-input w3-border" type="text" placeholder="Nombre" required name="Name">
                </div>
                <div class="w3-half">
                  <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                </div>
              </div>
              <input class="w3-input w3-border" type="text" placeholder="Mensaje que quieras" required name="Message">
              <button class="w3-button w3-black w3-right w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> Enviar mensaje
              </button>
            </form>
          </div>
        </div>
      </div>