<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
          <span class="w3-xxlarge w3-text-white w3-wide">SERVICIOS</span>
        </div>
      </div>
      
<div class="w3-content w3-container w3-padding-64" id="portfolio">
        <h3 class="w3-center">PUEDO AYUDARTE EN...</h3>
        <p class="w3-center"><em>Estos son algunos de los servicios prestados</em></p><br>
      
        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center">
          <div class="w3-col m3">
            <img src="/img/p1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="transporte público">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Maquillaje fx">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Clubs deportivos mixtos">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Arquitectura modernista">
          </div>
        </div>
      
        <div class="w3-row-padding w3-center w3-section">
          <div class="w3-col m3">
            <img src="/img/p5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Servicio de bodas">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Alquiler de coches compartido">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Alquiler de caza compartido">
          </div>
      
          <div class="w3-col m3">
            <img src="/img/p8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Customización">
          </div>
        </div>
      </div>

      <!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
          <img id="img01" class="w3-image">
          <p id="caption" class="w3-opacity w3-large"></p>
        </div>
      </div>